*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: rgb(219, 226, 226);
}
.heading{
	font-size: 40px;
	font-weight: 100;
}
#headingContainer{
 	background-color: #48b4e0;
 	border-top-left-radius: 28px;
 	border-top-right-radius: 28px;
 	text-align: center;
}
#headingContainer p{
 	color: white;
 	font-size: 30px;
 	margin-top: 5px;
}
.container{
	border-style: solid;
}
.btn{
	border: none;
    outline: none;
    height: 40px;
    width: 100px;
    background-color: #48b4e0;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
