/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #D8D8D8;/*#E4E9F7*/
}
.container{ 
  border: 2px solid;
  width: 300px;
  background-color: #f2f2f2;
  margin-top: 90px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px rgba(0,0,0,.5);
}
header{
  font-color: white;
  padding: 20px 10px;
  font-size: 30px;
  font-weight: bold;
}
section{
  padding: 10px;
}
.form-row select, input, button{
  margin-top:5px; 
  margin-bottom:10px; 
  width: 250px; 
}
.form-row select{
  height: 30px;
}
.chckbx{
  width: 20px;
}
.swal-modal {
  background-color: #E4E9F7;
  color: white;
}
.swal-text {
  color: black;
  font-size: 25px;
  align-self: center;
}
.swal-button {
  background-color: rgb(41, 43, 44);
  color: white;
  width: 90px;
}